body {
  background-color: whitesmoke;
}

#daily-card-row {
  padding-top: 1rem;
}

.card-image {
  font-size: 7rem;
  padding: 5rem;
}

#dailyCardIcon {
  font-size: 3.5rem;
  padding: 1.5rem;
}

.card-content p {
  padding-top: 0.5rem;
}

.card-panel p {
  text-align: center;
}

.card-panel .icon {
  font-size: 2.5rem;
}

.daily-ov-content {
  padding: 0.5rem;
}

.btn {
  margin: 1rem;
}

form {
  display: inline;
}

input {
  display: inline-block;
}

#submit {
  background-color: amber accent-2;
}

/* nav .nav-wrapper form, nav .nav-wrapper form .input-field{
  height: 100%;
  width: auto;

  } */

/* #weeklyrow {
  margin-left: 10rem;
}
 */
@media only screen and (min-device-width: 200px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .card-panel .icon {
    font-size: 1.5rem;
  }

  .card-panel p {
    font-size: 1.5rem;
  }

  #weeklyrow {
    margin-left: 0rem;
    padding: 0rem;
  }
}
